@font-face {
    font-family: Bebas;
    src: url(../assets/Fonts/BebasNeue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
html{
    overflow: hidden;
}
#container{
    min-height: 84vh;
    .box-container{
        width: 80vw;
        height: 130vh;
        position: absolute;
        left: -300px;
        top: 0px;
        background: #ffcacf;
        rotate: -10deg;
        box-shadow: 150px 350px #f3aeb1;
    }
    form{
        min-width: 1000px;
        min-height: max-content;
        position: absolute;
        display: flex;
        top: 40vh;
        left: 30vw;
        rotate: 10deg;
        justify-content: space-between;
    }
    h2{
        font-family: Bebas;
        font-size: 30px;
        color: #b61814;
    }
    h2#scnd{
        color: #000;
        margin-bottom: 20px;
    }
    .mini-box{
        background-color: #b61814;
        width: max-content;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        box-shadow: 10px 10px #861419;
    }
    textarea{
        resize: none;
        border: none;
        background: transparent;
        color: #fff;
        border-bottom: 2px solid #fff;
        outline: none;
    }
    .mini-box button{
        width: 100px;
        padding: 2px 10px;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 5px;
        color: #fff;
    }
    #box2{
        width: 350px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: #fff;
        justify-content: space-around;
        border-radius: 5px;
        box-shadow: 10px 10px #e9eaea;
    }
    #box2 input{
        border: none;
        border-bottom: 2px solid #000;
        color: #000;
        outline: none;
        font-size: 18px;
    }
}