@font-face {
    font-family: Bebas;
    src: url(../assets/Fonts/BebasNeue/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    transition: 0.3s ease;
}

html::-webkit-scrollbar{
    width: 50px;
}
html::-webkit-scrollbar-track{
    background: #fd5652;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border: 20px solid #fd5652;
    border-radius: 25px;
}
html{
    overflow-x: hidden;
}
main{
    font-family: 'Open sans',sans-serif;
}
header {
    min-height: 10dvh;
    padding: 10px;
    z-index: 999;
    padding-left: 30px;
    background-color: #fd5652;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0px;
}

img{
    width: 50px;
}
nav{
    margin: 20px;
    margin-right: 50px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 600px;
}
li label{
    height: min-content;
}
a{
    text-decoration: none;
    color: #fff;
}

ul li label{
    color: #fff;
    font-size: 30px;
}

ul li label:hover{
    color: #fcad05;
    cursor: pointer;
    transform: scale(1.2);
}

a:hover{
    transform: scale(1.1);
}
#popup{
    border: none;
    background: transparent;
    z-index: 998;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    user-select: none;
    .star:hover, .star.active{
        cursor: pointer;
        color: #fcad05;
    }
}
.popup{
    z-index: 999;
    outline: none;
    width: 400px;
    min-height: 200px;
    border: none;
    background: #b61814;
    border-radius: 5px;
    color: #fff;
    display: grid;
    h2{
        font-size: 14px;
    }
    .stars{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #eb4c48;
        font-size: 32px;
        max-height: 50px;
    }
    .line{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    button#send-btn{
        width: max-content;
        height: max-content;
        padding: 5px 50px;
        position: absolute;
        top: -20px;
        border: 1px solid #fff;
        outline: none;
        border-radius: 50px;
        background: transparent;
        color: #fff;
        cursor: pointer;
    }
    .x{
        position: relative;
    }
    .close{
        background: transparent;
        color: #fff;
        border: none;
        outline: none;
        font-size: 20px;
        position: absolute;
        right: 10px;
        cursor: pointer;
        transition: 0.1s ease;
    }
    button:hover{
        transform: scale(1.2);
    }

}

@media (width < 720px) {
    html::-webkit-scrollbar{
        width: 10px;
    }
    html::-webkit-scrollbar-track{
        background: #fd5652;
    }
    html::-webkit-scrollbar-thumb{
        background: #fff;
        border: 3px solid #fd5652;
        border-radius: 10px;
    }
}